<div class="row">
    <div class="col-md-10">
        <h1>Url Shortener Challenge Task</h1>
    </div>
    <div class="col-md-2">
        - Health status: {{ apiHealth }}
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <button (click)="this.redirectToAlias('my-custom-alias')">Go to Custom Alias</button>
    </div>
    <div class="col-md-11">
        CUSTOM ALIAS COMPONENT GOES HERE
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <app-shortened-list-viewer [urlMappingsReturnedFromApi]="this.getAllAliasUrlMappings()"></app-shortened-list-viewer>
    </div>
</div>

ERROR MESSAGE GOES HERE
{{errorMessage}}
