name: Docker Build and Push

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      image_tag:
        required: true
        type: string

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Get sanitised branch name
        run: echo "SANITISED_BRANCH_NAME=$(echo ${{inputs.image_tag}} | tr '/' '-' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Get sanitised owner name
        run: echo "SANITISED_OWNER_NAME=$(echo ${{github.repository_owner}} | tr '/' '-' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker image
        run: |
          docker build --no-cache -t ghcr.io/${{ env.SANITISED_OWNER_NAME }}/${{ inputs.image_name }}:${{ env.SANITISED_BRANCH_NAME }} . \
          && docker push ghcr.io/${{ env.SANITISED_OWNER_NAME }}/${{ inputs.image_name }}:${{ env.SANITISED_BRANCH_NAME }}
